
.board{
    background: linear-gradient(#B7D6C7, #FFFFFF);
    width: 1200px;
    height: 400px;
    margin: auto ;
    position: relative;
    overflow: hidden;
}
.dino{
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 40px;
    margin-left: 20%;
}
.dino img{
    width: 100%;
    height: auto;
}
.suelo{
    width: 2400px;
    height: 43px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("./img/suelo.png") repeat-x;
    animation: backgroundMove 3s linear infinite;
}

.dino-jump{
    animation: dinoJump 1s linear;
}
@keyframes dinoJump{
    0%{
        bottom: 43px;
    }
    45%, 55%{
        bottom: 200px;
    }
}
@keyframes backgroundMove {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-1200px);
    }
}